.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.brown {
	background-color: brown;
}

.tan {
	background-color: tan;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}

.moveable {
	position: absolute;
}

.height-xs {
	height: 5px;
}

.height-sm {
	height: 10px;
}

.height-md {
	height: 15px;
}

.height-lg {
	height: 20px;
}

.height-xl {
	height: 25px;
}

.my-row {
	display:table-row;
}

.my-row div {
	float: left;
}

.col-1 {
	width: 5px;
}

.col-2 {
	width: 10px;
}

.col-3 {
	width: 15px;
}

.col-4 {
	width: 20px;
}

.col-5 {
	width: 25px;
}

.col-6 {
	width: 30px;
}

.col-7 {
	width: 35px;
}

.col-8 {
	width: 40px;
}

.col-9 {
	width: 45px;
}

.col-10 {
	width: 50px;
}

/* Dropdown Button*/
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/*Dropdown button on hover & focus */
.drorpbtn:hover, .dropbtn:focus {
	background-color: #3E8E41;
}

/* Container <div> for positioning */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Default: hidden) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #F9F9F9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Text inside dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown options on hover */
.dropdown-content a:hover {background-color: #F1F1F1}

/*Toggle into dropdown menu */
.show {display.block;}
